<!-- disks.i2d -->
<script type="text/ng-template" id="disks.i2d">
<g ng-repeat="(id, node) in i2d.actors.disks">
    <circle ng-attr-id = {{id}} 
        ng-attr-x = {{node.form.x}} 
        ng-attr-y = {{node.form.y}}
        ng-attr-r = {{node.form.r}}
        ng-attr-fill = {{node.form.fill}}
        ng-attr-fill-opacity = {{node.form.fill_opacity}}
        ng-attr-stroke = {{node.form.stroke}}
        ng-attr-stroke-width = {{node.form.stroke_width}}
        ng-attr-stroke-opacity = {{node.form.stroke_opacity}}
        ng-attr-stroke-dasharray = {{node.form.stroke_dasharray}}
        ng-attr-style= {{node.form.style}}
        ng-attr-transform= {{node.transform}}>
    </circle>
</g>
</script>
