<!-- spotlights.i3d -->
<!-- intensity default = 1.0 -->
<!-- distance default = 0.0 => no attenuation -->
<!-- angle default = PI/3.0 (cone beam angle) -->
<!-- exponential default = 10.0 => fadeout radius outside cone-angle -->
<!-- position default = 0,0,0 but can be moved by transform -->
<!-- target.position default = 0,0,0 but can be moved by transform -->
<!-- castShadow default = false -->
<!-- shadowCameraNear default = 50.0 -->
<!-- shadowCameraFar default = 5000.0 -->
<!-- shadowCameraFOV default = 50.0 -->
<!-- shadowBias default = 0 --> 
<!-- shadowDarkness default = 0.5 -->
<!-- shadowMapWidth default = 512 --> 
<!-- shadowMapHeight default = 512 --> 
<script type="text/ng-template" id="spotlights.i3d">
  <i3d:spotlight ng-repeat="(id,node) in i3d.actors.spotlights"
       id={{id}} 
       color={{node.form.color}} 
       intensity={{node.form.intensity}} 
       distance={{node.form.distance}} 

       angle={{node.form.angle}} 
       exponential={{node.form.exponential}} 
       targetx={{node.form.targetx}} 
       targety={{node.form.targety}} 
       targetz={{node.form.targetz}} 
       castShadow={{node.form.castShadow}} 

       shadowCameraNear={{node.form.shadowCameraNear}} 
       shadowCameraFar={{node.form.shadowCameraFar}} 
       shadowCameraFOV={{node.form.shadowCameraFOV}} 
       shadowBias={{node.form.shadowBias}} 
       shadowDarkness={{node.form.shadowDarkness}} 
       shadowMapWidth={{node.form.shadowMapWidth}} 
       shadowMapHeight={{node.form.shadowMapHeight}} 

       transform={{node.transform}}       
       children={{node.children}} >
  </i3d:spotlight>
</script>

