<!-- base-skycube_stratos.html -->
<script type="text/ng-template" id="base-skycube-stratos.html">
<div>
<style>
@keyframes anim {
  0% { transform: perspective(900px) translateX(-990px) translateY(-50px) translateZ(100px) rotateY(20deg) rotateX(45deg); }
  20% { transform: perspective(900px) translateX(-990px) translateY(-50px) translateZ(100px) rotateY(20deg) rotateX(45deg); }
  40% { transform: perspective(342px) translateX(-550px) translateY(72px) translateZ(200px)  rotateY(5deg) rotateX(30deg); }
  60% { transform: perspective(600px) translateX(-450px) translateY(72px) translateZ(300px) rotateY(0deg) rotateX(25deg); } 
  100% { transform: perspective(900px) translateX(-990px) translateY(-50px) translateZ(100px) rotateY(20deg) rotateX(45deg); }
}
</style>
<div id='base-bg' style="width:100%; height:100%; 
                         position: absolute; 
                         display: block;
                         background:{{base.cube.bg || '#000000'}};
                         background-size: 100% 100%;
                         background-position: '50% 50%';
                         background-repeat: no-repeat;" >

  <div class="g"
       style="padding: 20% 30% 20% 35%; top: 50%; left: 50%">
    <div class="cube"
         style="perspective: {{base.cube.perspective || '129px' }}; 
                perspective-origin: {{base.cube.perspective_origin || '30px 40px' }};
                transform-origin: '25px 60px -100px'};
                transform-style: preserve-3d; 
                position: absolute; 
                display: block;
                animation: anim {{base.animation.dur || '120s'}} 
                  {{base.animation.repeat || 'infinite'}} ease-in-out;" >

      <div id="front" 
           style="width:402px; height:402px;
                  position:absolute; display:block;
                  transform: translateZ(-200px);
                  background-position:50% 50%; 
                  background-size:100% 100%; 
                  background: {{base.faces.front}}" >
      </div>
      <div id="back" 
           style="width:402px; height:402px;
                  position:absolute; display:block;
                  transform: rotateY(180deg) translateZ(-200px);
                  background-position:50% 50%; 
                  background-size:100% 100%; 
                  background: {{base.faces.back}}" >
      </div>
      
      <div id="left" 
           style="width:402px; height:402px;
                  position:absolute; display:block;
                  transform: rotateY(90deg) translateZ(-200px);
                  background-position:50% 50%; 
                  background-size:100% 100%; 
                  background-image: {{base.faces.left}}" >
      </div>
      <div id="right" 
           style="width:402px; height:402px;
                  position:absolute; display:block;
                  transform: rotateY(-90deg) translateZ(-200px);
                  background-position:50% 50%; 
                  background-size:100% 100%; 
                  background-image: {{base.faces.right}}" >
      </div>

      <div id="sky" 
           style="width:402px; height:402px;
                  position:absolute; display:block;
                  transform: rotateX(-90deg) translateZ(-200px);
                  background-position:50% 50%; 
                  background-size:100% 100%; 
                  background-image: {{base.faces.sky}}" >
      </div>
      <div id="ground" 
           style="width:402px; height:402px;
                  position:absolute; display:block;
                  transform: rotateX(90deg) translateZ(-200px);
                  background-position:50% 50%; 
                  background-size:100% 100%; 
                  background-image: {{base.faces.ground}}" >
      </div>
    </div>
  </div>    
</div>
</script>
