<!-- i3d-scene.svg -->
<script type="text/ng-template" id="i3d-scene.svg">

        <!-- singular - camerasphere -->
        <i3d-form i3d-template="camerasphere.i3d" ></i3d-form>

        <!-- metaforms -->
        <i3d-form i3d-template="metaforms.i3d" ></i3d-form>

        <!-- lists -->
        <i3d-form i3d-template="spheres.i3d" ></i3d-form>
        <i3d-form i3d-template="cubes.i3d" ></i3d-form> 
        <i3d-form i3d-template="tetrahedra.i3d" ></i3d-form> 
        <i3d-form i3d-template="grounds.i3d" ></i3d-form> 
        <i3d-form i3d-template="billboards.i3d" ></i3d-form> 
        <i3d-form i3d-template="ambientlights.i3d" ></i3d-form> 
        <i3d-form i3d-template="directionallights.i3d" ></i3d-form> 
        <i3d-form i3d-template="pointlights.i3d" ></i3d-form> 
        <i3d-form i3d-template="spotlights.i3d" ></i3d-form> 
        <i3d-form i3d-template="axes.i3d" ></i3d-form> 

</script>
