<!-- i2d-reflect.svg -->
<script type="text/ng-template" id="i2d-reflect.svg">
<g id="top" >
  <rect x="-50" y="-50" width="100" height="49" fill="#DDF" fill-opacity="0.5" />
  <circle cx="-35" cy="-10" r="5" fill="#ff1000" /> 
  <text x="-28" y="-7" font-size="11.5px" font-family="neuropol" fill="#AAF">metaweb</text>

  <g id="vtext" font-family="neuropol" font-size="6.3pt" stroke="white" stroke-width="0.5">
    <text x="-.3" y="-44.2" style="writing-mode: tb; glyph-orientation-vertical: 0;">
      i3Dmedia  
    </text> 
  </g>

  <g id="vtext" font-family="neuropol" font-size="6.3pt" stroke="white" stroke-width="0.5">
    <text x="-.3" y="-44.2" style="writing-mode: tb; glyph-orientation-vertical: 0;">
      media  
    </text> 
  </g>  
</g>

<g transform="translate(0 0) scale(1 -1)" mask="url(#mask)">
  <use xlink:href="#top" x="0" y="0" />
</g>
</script>
